In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
data = pd.read_csv("FuelConsumption.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [17]:
data.drop(columns=["MODELYEAR",	"MAKE",	"MODEL", "VEHICLECLASS","FUELCONSUMPTION_COMB_MPG"], inplace=True)
data.head()

,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,CO2EMISSIONS
0,2.0,4,AS5,Z,9.9,6.7,8.5,196
1,2.4,4,M6,Z,11.2,7.7,9.6,221
2,1.5,4,AV7,Z,6.0,5.8,5.9,136
3,3.5,6,AS6,Z,12.7,9.1,11.1,255
4,3.5,6,AS6,Z,12.1,8.7,10.6,244

In [18]:

X = data[["ENGINESIZE","CYLINDERS","FUELCONSUMPTION_CITY","FUELCONSUMPTION_HWY","FUELCONSUMPTION_COMB"]]
Y = data[["CO2EMISSIONS"]]

In [19]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2, random_state=0)

In [20]:
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
ks = [3,5,7,9]
for k in ks:
    knn_model = KNeighborsRegressor(n_neighbors=k)
    knn_model.fit(X, Y)

    yhat = knn_model.predict(Xtest)

    print(f"====================k = {k}==============")
    print('=======================')
    print("MAE: ", 100 - mean_absolute_percentage_error(yhat, ytest) * 100)
    print("MsE: ", mean_squared_error(yhat, ytest))
    print("R2_Score: ", r2_score(yhat, ytest))

====================k = 3==============
=======================
MAE:  99.15405376103423
MsE:  64.26791277258565
R2_Score:  0.9846949947324859
====================k = 5==============
=======================
MAE:  98.7347667995155
MsE:  113.72691588785045
R2_Score:  0.9720911360734938
====================k = 7==============
=======================
MAE:  98.53317370182161
MsE:  132.61501049017738
R2_Score:  0.9662768550459784
====================k = 9==============
=======================
MAE:  98.37583503449683
MsE:  137.47727010499594
R2_Score:  0.9648854729081121